* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background: #000000;
    color:#ffffff;
    font-family: "Roboto Mono", monospace;
  }
  
  #content {
    margin: 10% 10% 20% 10%;
    width: auto;
    position: fixed;
    padding: 2% 2% 10% 2%;
    background: #000000;
    box-shadow: 0 1px 2px rgba(0,0,0,0.15);
    transition: box-shadow 0.3s ease-in-out;
    user-select: none;
  }

  #content:hover {
    box-shadow: 20px 20px 50px 15px rgba(0,0,0,0.6);
  }
  
  #content::after{
    box-shadow: 0 5px 15px rgba(0,0,0,0.3); opacity: 0; transition: opacity 0.3s ease-in-out;
  }
  h1 {
    font-size: 50px;
    margin-bottom: 3%;
  }
  
  p {
    margin-top: 10px;
    font-size: 24px;
    max-width: 35em;
  }
  
  .btn {
    margin-top: 3%;
    font-size: 24px;
    padding: 10px 25px;
    border: 3px solid #ffffff;
    display: flex;
    position: absolute;
    text-decoration: none;
    color: #ffffff;
  }

  .btn:hover {
    filter: invert();
  }

  